# planetweet service for systemd
[Unit]
Description=PlaneTweet
Wants=network.target
After=network.target
[Service]
ExecStart=/bin/bash /usr/share/planefence/planetweet.sh
User=pi
Group=pi
RuntimeDirectory=planetweet
SyslogIdentifier=PlaneTweet
Type=simple
Restart=on-failure
RestartSec=30
RestartPreventExitStatus=64
Nice=-5
[Install]
WantedBy=default.target
